
    {{>Header}}
    
    <p>Use this site to get your weather</p>
    <form action="">
      <input type="text" placeholder="Location" />
      <button type="submit">Search</button>
    </form>
    <p class="location"></p>
    <p class="description"></p>
    <p class="temperature"></p>
    <p class="feelslike"></p>
    </div>
     {{>Footer}}
     <script src="js/app.js"></script>
  </body>
  
</html>
